
a {
  color: #00B7FF;
}


*{
	margin: 0;
	padding: 0;
	list-style: none;
}

body,html { 
  height: 100%;
  overflow-x:hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

body{
  background: url('../assets/tetration-logo-op.png') 55% 50% no-repeat rgb(249,249,249);
  background-size: 1000px; 
  background-color: #f7f7f7;
  bottom: 0;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?otz3pk');
  src:  url('../fonts/icomoon.eot?otz3pk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?otz3pk') format('truetype'),
    url('../fonts/icomoon.woff?otz3pk') format('woff'),
    url('../fonts/icomoon.svg?otz3pk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Asset-10:before {
  content: "\e900";
  color: white;
}

.icon-Asset-6:before {
  content: "\e905";
  color: white;
}

.icon-Asset-8:before {
  content: "\e907";
  color: white;
}

.icon-Asset-9:before {
  content: "\e908";
  color: white;
}

.icon-Asset-14:before {
  content: "\e903";
  color: #fff;
}

.icon-Asset-15:before {
  content: "\e904";
  color: #fff;
}

.icon-Asset-16:before {
  content: "\e906";
  color: #fff;
}

.icon-Asset-12:before {
  content: "\e901";
  color: #fff;
}

.icon-Asset-13:before {
  content: "\e902";
  color: #fff;
}

.icon-Asset-2:before {
  content: "\e909";
  color: #fff;
}

.icon-Asset-4:before {
  content: "\e90b";
  color: #268fd4;
}

.icon-Asset-3:before {
  content: "\e90a";
  color: #fff;
}

.icon-Asset-42:before {
  content: "\e90e";
  color: #fff;
}

#container{
	width: 100%;
}

.nav{
	width:100%;
	height: 50px;
	background-color:#0071BC;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	z-index: 100;
}

.ham-wrap{
	width: 50px;
    height: 100%;
    background-color: #0071BC;
    position: relative;
    float: left;
}

#nav-icon1{
  width: 20px;
  height: 21px;
  /*position: relative;*/
  margin: auto auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 1.5px;
  width: 20px;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 7px;
}

#nav-icon1 span:nth-child(3) {
  top: 14px;
}

#nav-icon1.open span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -20px;
}

#nav-icon1.open span:nth-child(3) {
   top: 7px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

 .nav-2{
 	background-color: #268fd4;
    width: 50px;
    height: 100%;
    z-index: 90;
    position: fixed;
 }   

 .left-menu-wrap{
    margin-top: 50px;
 }

.dashboard-wrap{
	background-color:#353e41;
	width: 100%;
	height: 1000px;
}

.side-menu{
    width: 200px;
    height: 100%;
    background-color:hsla(204, 100%, 37%, 0.6);
    left: 50px;
    position: fixed;
    margin-top: 50px;
    overflow-x: hidden;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    transition: .3s ease-in;
    z-index: 80;
}

.menushow{
	left:-150px;
}

.left-menu-col{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid hsla(0,0%, 100% ,0.2);
    /*border-right: 1px solid gray;*/
}

.side-menu-col{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid hsla(0,0%, 100% ,0.2);
    text-align: center;
    font-weight: 300;  
}

.cisco-logo-wrap{
    width: 200px;
    height: 100%;
    background-color: #0071BC;
    margin-left: 100px;
    float: left;
}

.logo-img-wrap{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.logo-img{
  width:60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;

}

.nav-button-wrap{
    width: 400px;
    height: 100%;
    background-color: #0071BC;
    float: right;
}

.nav-button{
    width: 98px;
    height: 100%;
    float: left;
}

.left-menu-info-wrap{
    width: 100%;
    height: 50px;
    background-color: #268fd4;
    position: absolute;
    bottom: 50px;
}

.alarm-page-wrap{
    width: 300px;
    height: 200px;
    position: fixed;
    background-color: green;
    top:-150px;
    right: 100px;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    transition: .3s ease-in;
    z-index: 70;
}

.pageshow{
    top:50px;
}

.profile-page-wrap{
    width: 300px;
    height: 100%;
    background: orange;
    float: right;
    right: -300px;
    position: relative;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    transition: .3s ease-in;
    z-index: 70;
}

.pageshow-profile{
  right: 0px;
}

.dashboard-page-wrap{
    width: 96%;
    height: 200px;
    left: 50px;
    position: absolute;
    z-index: 50;
    margin-top: 60px;
}
.dashboard-page-1-wrap{
    width: 32%;
    height: 200px;
    background-color: white;
    float: left;
    margin-left: 1%;
}

.dashboard-nav{
    width: 100%;
    height: 35px;
    background-color: #afafaf;
}

.circle-icon{
  width: 36px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    background: hsla(0 ,0% ,100%,0.2);
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 20px;
    
    text-align: center
}

.icon-Asset{
    font-size: 1.3em;
    position: relative;
    top: 24%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-2-icon-wrap{
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}



.icon-Asset-b{
  font-size: 1.1em;
  position: relative;
  top: 15%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title{
    color: white;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.left-menu-info{
    width: 36px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    background: hsla(0 ,0% ,100%,0.2);
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 20px;
    text-align: center;
    border: 1px solid white;
}

.icon-Asset-2{
  top:21%;
}

.dashboard-title-wrap{
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    font-size: .9em;
    color: black;
    width: fit-content;
    float: left;
    color:white;
}

.dashboard-button-wrap{
    width: 90px;
    height: 100%;
    float: right;
}

.dashboard-button{
    height: 100%;
}

.dashboard-button-icon{
    width: 30px;
    height: 100%;
    float: left;
    text-align: center;
}

.dashboard-icon-Asset{
    font-size: 0.9em;
    position: relative;
    top: 22%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.icon-Asset-4{
  font-size: .6em;
  margin-left: 20px;
}

.icon-Asset-3{
  top:25%;
}


/*Grid CSS*/

.side-menu-sub{
    /*padding-left: 20px;
    padding-right: 20px*/;	 
    height: 100%;
    background-color: #7fb9de;
    left: 250px;
    position: fixed;
    margin-top: 50px;
    overflow-x: hidden;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    transition: .3s ease-in;
    z-index: 70;
    display: none;
    
}
.side-menu-col-1:hover{
	background-color: #268fd4;	
}

.side-menu-selected{
	background-color: #268fd4;	
}

.side-menu-col-1:hover + .side-menu-sub{
	display: block;
}

.side-menu-col-2:hover{
	background-color: #268fd4;
}

.side-menu-col-3:hover{
	background-color: #268fd4;
}

.side-menu-col-4:hover{
	background-color: #268fd4;
}

.side-menu-col-5:hover{
	background-color: #268fd4;
}

.application-list{
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid hsla(0,0%, 100% ,0.2);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.application-list:hover{
	background-color: #268fd4;
}

.content-wrap{
	padding-top: 50px;
	padding-left: 50px;
}

.viz-wrap{
    width: 90%;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-top: 50px;
}

.download-btn-wrap{
    position: fixed;
    width: 75px;
    height: 75px;
    border-radius: 40px;
    background-color: #268fd4;
    right: 20px;
    top: 100px;
    line-height: 75px;
    text-align: center;
    color: white;
    border:1px solid #c5c5c5;
}

.icon-Asset-42{
    font-size: 2.0em;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
}

.tab-bar-wrap{
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0px;
    border-bottom: .5px solid #0071bc;
    z-index: 10;
     -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
}

#visualization{
    margin-top: 50px;
}

.ul-tab-bar{
  padding-left: 50px;
  z-index: 70;
}

.list-tab-bar{
    width: calc(100% / 4 - 1px);
    color: #0071bc;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.list-tab-bar-left{
    border-left: .5px solid #0071bc;
}

.list-tab-bar-clickable:hover{
  background-color: hsla(204, 100%, 37%, 0.34) !important;
  color:white !important;
  cursor:pointer;
  cursor:hand;
}

.list-tab-bar-nonclickable:hover{
  background-color: hsla(0, 0%, 72%, 0.7) !important;
  color:hsla(0, 0%, 72%, 0.7)!important;
}

.tab-bar-widget-wrap{
    position: fixed;
    left: 50px;
    top: 100px;
    height: 100%;
    z-index: 5;
}

.tab-bar-widget{
    width: calc(100% / 4 - 12px);
    height: 500px;
    position: fixed;
    top:-500px;
    opacity: .3;
}

.show-detail{
   top:150px;
   opacity: 1;
   -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.widget-contents-wrap{
    width: 90%;
    height: 65%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid #2196F3;
}

.top-widget-btn-wrap{
    width: 100%;
    height: 40px;
}

.btn-remove-bar-wrap{
    width: 20%;
    height: 40px;
    float: right;
}

.btn-remove-bar{
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 1.5em;
}

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../assets/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
    background-size: 50px;
}

.drop-menu{
  visibility: visible;
  top:50px;
   -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.table-title-wrap{
  width: 100%;
}

.table-title{
  height: 20px;
  line-height: 20px;
  font-size: 1.3em;
  text-align: center;
  color: #2196f3;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

}

table.detail-table td .td-title{
  background-color: rgba(46, 147, 214, 0.99);
}

table.detail-table {
    width:95%;
    *width:99.5%;
    border: 1px solid #0071bc;
    border-radius: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

}
table.detail-table tr.detail-table-tr {
  background: lightgrey;
}

table.detail-table tr.detail-table-tr td {
  padding: 6px;
}

table.detail-table td {
  padding: 11px; 
  border: 1px solid #0071bc;
  color: #0071bc;
  background-color: rgba(163, 217, 249, 0.35);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}

table.detail-table td.col1 {
  width: 35%;
  font-weight: 400;
  font-size: 1.1em;
}

#list-name-on-menu{
  background-color: rgba(38, 143, 212, 0.7);
  color: white;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

.list-tab-bar-unavailable{
  background-color: hsla(0, 0%, 72%, 0.7);
}

.icon-Asset-9oct27:before {
  content: "\e917";
  color: #fff;
  font-size: 1.3em;
}

.icon-Asset-10oct27:before {
  content: "\e916";
  color: #fff;
}

.list-tab-bar-unavailable{
  background-color: hsla(0, 0%, 72%, 0.7);
}

.table-wrap{
  font-size: .7em;
}

.icon-Asset-b-nonclickable{
  opacity:.3
}